@use "./base.scss";

// put your custom CSS here!

// サイトタイトルのスタイル
.page-title {
  font-family: "Zen Kaku Gothic New", sans-serif !important;
  font-size: 1.1rem !important;
}

header h1 a {
  font-family: "Zen Kaku Gothic New", sans-serif !important;
  font-size: 1.1rem !important;
}
